.readMoreButton {
  border: none;
  background-color: white;
  color: #87888a;
  font-weight: bold;
  font-family: "Arial Narrow", Arial, sans-serif;;
  cursor: pointer;
}

.readMoreButton:hover {
  color: black !important;
  font-weight: bold;
  text-decoration: none;
}

.projectDescriptionText {
  max-height: 200px;
  font-size: 10pt;
  overflow-y: auto;
  font-family: "Arial Narrow", Arial, sans-serif;;
}
