.readMoreButton {
  border: none;
  background-color: white;
  color: #87888a;
  font-weight: bold;
  font-family: "Helvetica";
  cursor: pointer;
}

.readMoreButton:hover {
  color: black !important;
  font-weight: bold;
  text-decoration: none;
}

.projectDescriptionText {
  max-height: 200px;
  font-size: 8pt;
  overflow-y: auto;
  font-family: "Helvetica";
}

@media (max-width: 768px) {
  .projectDescriptionText {
    max-height: 300px;
    font-size: 8pt;
    overflow-y: auto;
    font-family: "Helvetica";
  }
}