.imageAlbum .carousel-control-next {
  width: 50% !important;
}

.imageAlbum .carousel-control-prev {
  width: 50% !important;
}

.carousel .carousel-item img {
  height: 300.50px;
}

@media (min-width: 768px) {

  .carousel .carousel-item img {
    height: 547.50px
  }
}

/* .carousel .carousel-item img {
  padding-top: 75%
} */