.imageAlbum .carousel-control-next {
  width: 50% !important;
}

.imageAlbum .carousel-control-prev {
  width: 50% !important;
}

.carousel .carousel-item img {
  max-height: 500px;
  min-width: auto;
}