.imageAlbum .carousel-control-next {
  width: 70% !important;
}

.imageAlbum .carousel-control-prev {
  width: 30% !important;
}

.carousel .carousel-item img {
  height: 288px;
  object-fit: cover;
}

@media (min-width: 768px) {

  .carousel .carousel-item img {
    height: 547.50px;
    object-fit: cover;
  }
}

/* .carousel .carousel-item img {
  padding-top: 75%
} */