.selected a {
  text-decoration: underline;
}

.logo {
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-top: -10px;
  margin-left: 85%;
}

@media (max-width: 768px) {
  .logo {
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin-top: -10px;
    margin-left: 200%;
  }
}

.studioName {
  font-size: 16pt;
}

@media (max-width: 768px) {
  .studioName {
    font-size: 9pt;
  }
}
