.selected a {
  text-decoration: underline;
}

.logo {
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-top: -10px;
  margin-left: 85%;
}

@media (max-width: 768px) {
  .logo {
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-top: -10px;
    margin-left: 200%;
  }
}

.studioName {
  font-size: 16pt;
  white-space: pre;
}

.workMenuButton {
}

@media (max-width: 768px) {
  .studioName {
    font-size: 11pt;
    margin-top: 0.45rem;
    margin-left: -5%;
    white-space: pre;
  }

  .topMenuButton {
    padding-right: 15px;
    padding-left: 0px;
  }

  .workMenuButton {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}
