.selected a {
  text-decoration: underline;
}


.logo {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-top: -5px;
  margin-left: 75%;
}

@media (max-width: 768px) {
  .logo {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-top: -5px;
    margin-left: 50%;
  }
}
