.modal-content {
  border: none !important;
  background-color: transparent !important;
}

.modal-open .modal {
  background-color: white;
}

.fade {
  transition-duration: 0.75s;
  transition-timing-function: ease-in-and-out;
}

.fade.out {
  transition-duration: 1s;
  transition-timing-function: ease-in-and-out;
}
.modal-backdrop.show {
  opacity: 0;
}

.left-side {
  padding-left: 30px;
}
.bottomPart {
  margin-top: 6rem;
}

@media (max-width: 768px) {
  .bottomPart {
    margin-top: 3rem;
  }

  .left-side {
    margin-left: 0% !important;
  }
}
