body {
  font-family: "Helvetica";
  font-size: 10pt;
  text-transform: uppercase;
  margin-top: 3%;
}

body a {
  color: black;
  line-height: 25pt;
  font-size: 10pt;
}

@media (max-width: 768px) {
  body a {
    color: black;
    line-height: 5px;
    font-size: 8pt;
  }

  body {
    margin-top: 4%;
    font-size: 6pt;
  }
}

body a:hover {
  color: black !important;
}

.right-side {
  overflow-y: auto;
  overflow: visible;
  max-height: 900px;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .right-side {
    overflow-y: auto;
    overflow: visible;
    margin-top: 2rem;
    max-height: 600px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-button {
  width: 16px;
  border: 5px solid white;
}

*::-webkit-scrollbar-track {
  background: white;
  /* -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);  */
}
*::-webkit-scrollbar-thumb {
  background-color: #87888a;
  border-radius: 5px;
  border: 3px solid white;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
